/*  */
*{
    margin: 0;
    padding: 0;
 
}

h1 {
color: rgb(202, 195, 187);
font-size: 50px;
padding: 25px;
text-align: center;
font-family: Arial, Helvetica, sans-serif rgb(46, 170, 87); font-weight: 2000;
justify-content: center;
}
h3{
    color: rgb(202, 195, 187);;
    font-size: 35px;


}
h2{
color: rgb(160, 68, 86);
font-size: 30px;


}
p{
    font: size px;
}

.logo {
width: 150px;
height: 100px;
}
.img1 {
   
    display: flex;
    justify-content: center;
    align-items: center;
    }

.img1 img{
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.logo-nav{
    display: flex;
    background-color: rgba(122, 151, 165, 0.89);
    
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
 header nav ul li{
    padding: 4vh;
    text-align: center;
    list-style: none;
   }

a{
    text-decoration: none;
    list-style: none;
    background-color: rgb(184, 161, 221);
    padding: 4px 8px 4px 8px;
    border-radius: 5%;
    border: 1px solid #f0f0f0;

}
a:hover{
    opacity: 0.6;
    font-family:"Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}


body{
    background-color: #2D2617;
}

section h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5%;
}
p{
    color: rgb(202, 195, 187);
font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 5%;
}

.grid-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px ;
    padding: 2%;
}

h2 {
    text-align: center;
    padding-bottom: 5%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.grid-container-doble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2%;
}
.text-doble{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-doble img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.grid-container-apart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2%;
}
.text-apart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-apart img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    align-content: center;

}

.resto-principal img{
    width: 80%;
    height: auto;
    border-radius: 5px;
}
.resto-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.salon-de-te img{
width: 80%;
height: auto;
border-radius: 5px;
}
.salon-de-te{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.quincho img{
    width: 80%;
    height: auto;
    border-radius: 5px;
}
.quincho{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.video-playa video{
    width: 90%;
    height: auto;
    border-radius: 5px;
}
.video-playa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}
.grid-container-cabalgatas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2%;

}
.text-cabalgatas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-cabalgatas img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.grid-container-piscina{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding:2%
}
.img-piscina img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.text-piscina{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-container-senderismo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2%;
}
.img-senderismo img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}
.text-senderismo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logomf{
    display: flex;
    justify-content: center;
    background-color:#718A95;
    
    
    }
.menu-expansible{
    position: relative;
    display: inline-block;
}
.hamburguesa{
    width: 100%;
    height: auto;
    display: block;
    
}
.img.araucaria-02{
    width: 80%;
    height: auto;

}
.dropdown{
    display: flex;
    flex-direction: column;
    align-items: end;
}